<div class="template-container">
    <h2>
        <span class="title-link">{{'VACCINATIONS' | translate}} </span>
    </h2>
    <div ng-show="!vaccinations.length">
        <div class="placeholder-text">
            <p translate="DISPLAY_CONTROL_ERROR_MESSAGE_KEY"
                translate-values="{displayControl : '{{config.translationKey | translate}}'}"></p>
        </div>
    </div>
    <table ng-show="vaccinations.length">
        <thead>
            <tr>
                <th>
                    <span>{{ ::'VACCINE' | translate }}</span>
                </th>
                <th>
                    <span>{{ ::'DATE_GIVEN' | translate }}</span>
                </th>     
                <th>
                    <span>{{ ::'VACCINE_LOT_NUMBER' | translate }}</span>
                </th>           
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="(key, value) in groupedvaccination">
                <td>
                    <div ng-repeat="obs in value | orderBy:['-vaccationSequenceValue']">
                        {{obs.name | translate }}

                        <b ng-if="obs.vaccationSequenceValue == null"></b>
                        <b ng-if="obs.vaccationSequenceValue < 10"> ({{obs.vaccationSequenceValue }})</b>
                        <b ng-if="obs.vaccationSequenceValue >10">
                            ({{"Booster " + (obs.vaccationSequenceValue -10) }})</b>
                    </div>
                </td>
                <td>
                    <div ng-repeat="obs in value | orderBy:['-vaccationSequenceValue']">
                        {{obs.vaccinationDate | bahmniDate }}
                    </div>
                </td>
                <td>
                    <div ng-repeat="obs in value | orderBy:['-vaccationSequenceValue']">
                        {{obs.vaccineLotNumber }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>